# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables and secrets
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
